{% extends "base.html" %}
{% load static %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <a href="{% url 'profile' %}" type="submit">Сохранить изменения</a>
    </form>
    <p>Main page</p>
    <p>Текущий баланс:
        {% if user.profile.balance %}
            0
        {% else %}
            {{ user.profile.balance }}
        {% endif %}
    </p>
    <a href="{% url 'balance' %}">Пополнить баланс</a>
{% endblock %}