{% extends 'base.html' %}

{% block title %}Личный кабинет{% endblock %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-3" style="height: 100px">
                <div class="text-center">
                    <h4 style="margin-top: 40px">Ваш баланс: {{ user.profile.balance }} руб</h4>
                    <button onclick="location.href='{% url 'balance' %}'"
                            style="width: 100%; border-radius: 10px; margin-bottom: 5px" class="btn btn-dark me-2">
                        Пополнить баланс
                    </button>
                    <button onclick="location.href='{% url 'edit_profile' %}'"
                            style="width: 100%; border-radius: 10px; margin-bottom: 5px" class="btn btn-dark me-2">
                        Редактировать профиль
                    </button>
                </div>
            </div>
            <div class="col-9">
                <div class="text-center" style="margin: 20px">
                    <h1>Ваши акции</h1>
                </div>
                <ul style="list-style-type: none">
                    <li style="margin-bottom: 10px">
                        <button style="width: 100%; border-radius: 20px" class="btn btn-warning me-2">
                            <div class="row" style="padding: 10px">
                                <div class="col-6" style=" display:flex; justify-content: left">
                                    <h3>Sberbank</h3>
                                </div>
                                <div class="col-6" style=" display:flex; justify-content: right">
                                    <h3>Текущая стоимость: 129.50 руб</h3>
                                </div>
                            </div>
                        </button>
                    </li>
                    <li style="margin-bottom: 10px">
                        <button style="width: 100%; border-radius: 20px" class="btn btn-warning me-2">
                            <div class="row" style="padding: 10px">
                                <div class="col-6" style=" display:flex; justify-content: left">
                                    <h3>Tinkof</h3>
                                </div>
                                <div class="col-6" style=" display:flex; justify-content: right">
                                    <h3>Текущая стоимость: 2962 руб</h3>
                                </div>
                            </div>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}