{% extends 'base.html' %}

{% block title %}Список акций{% endblock %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="text-center" style="margin: 20px">
            <h1>Текущие акции</h1>
        </div>
        <ul style="list-style-type: none">
            <li style="margin-bottom: 10px">
                <button style="width: 100%; border-radius: 20px" class="btn btn-warning me-2">
                    <div class="row" style="padding: 10px">
                        <div class="col-6"style=" display:flex; justify-content: left">
                            <h2>Sberbank</h2>
                        </div>
                        <div class="col-6" style=" display:flex; justify-content: right">
                            <h2>7 рублей</h2>
                        </div>
                    </div>
                </button>
            </li>


        </ul>
    </div>
{% endblock %}