{#{% extends "base.html" %}#}
{#{% load static %}#}
{##}
{#{% block files %}#}
{#    <script type="text/javascript" src="{% static 'js/stocks.js' %}"></script>#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#	<h2 id="parent"></h2>#}
{#{% endblock %}#}
{##}

{% extends 'base.html' %}

{% block title %}Акция чего-то{% endblock %}
{% load static %}

{% block content %}
    <div class="container" style="display: flex">
            <div style="width: 25%">
                <h1>Sberbank</h1>
                <h5>78 рублей</h5>
                <div style="width: 100%; display: inline-flex; justify-content: left; margin-top: 40px">
                    <button class="btn btn-lg btn-warning" style="width: min-content" type="submit">Купить</button>
                    <button class="btn btn-lg btn-dark" style="width: min-content; margin-left: 40px" type="submit">Продать</button>
                </div>
            </div>

            <div style="width: 70%">
                <div style="display: flex; background-color: black; padding: 15px; width: min-content; border-radius: 20px">
                    <div style="flex-direction: column; display: flex; margin-right: 15px; vertical-align: middle">
                        <button class="btn btn-lg btn-warning" style="width: 120px" type="submit">1 год</button>
                        <button class="btn btn-lg btn-warning" style="width: 120px; margin-top: 40px" type="submit">1 месяц</button>
                        <button class="btn btn-lg btn-warning" style="width: 120px; margin-top: 40px" type="submit">1 неделя</button>
                        <button class="btn btn-lg btn-warning" style="width: 120px; margin-top: 40px" type="submit">1 день</button>
                    </div>
                    <img src="{% static 'stock.png' %}" alt="" width="900px">
                </div>
            </div>
    </div>
{% endblock %}